<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Email testng example">
    <test name="Authorization">
        <classes>
            <class name="autohw2.vk.VkLogin"/>
        </classes>
    </test>
    <test name="CalculatorCheck">
        <classes>
            <class name="autohw2.calculator.CalculatorTest"/>
        </classes>
    </test>
</suite>